{% extends "govuk/template.njk" %}
{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}

{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
