{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
  Page title
{% endblock %}

{% block content %}

  Hello world

  {{ govukButton({
    text: "Click me"
  }) }}

{% endblock %}
